.tv-without-border,
.tv-without-border__header {
  display: flex;
  gap: 60px;
}

.tv-without-border__header>*,
.tv-without-border__col {
  flex: 1;
}

.tv-without-border__col {
  display: flex;
  gap: 10px;
}

.tv-without-border__col .graf-6-col {
  width: 100%;
  flex: 1;
}


.text-small-bold--22 {
  display: none;
}

@media screen and (max-width:1400px) {

  .tv-without-border,
  .tv-without-border__header,
  .tv-without-border__col {
    flex-direction: column; 
  }

  /* .tv-without-border__col {
    
    border:1px solid red;
    align-items: center;
  } */

  .text-small-bold--2 {
    display: none;
  }

  .text-small-bold--22 {
    display: block;
    text-align: center;
  }
}



@media screen and (max-width:768px) {

  .tv-without-border,
  .tv-without-border__header {
    flex-direction: column;
  }
}